:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #756f6e;
    --primary-color: #ee4d2d;
    --border-color: #dbdbdb;
}

/* animation */

/* hiện dần lên */
@keyframes fadeIn  {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

* {
    box-sizing: inherit;
}

.header {
    height: 120px;
    background-image: linear-gradient(0, #fe6433, #fd5e32);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style-type: none;
    padding-left: 0;
}

.header__navbar-item {
    display: inline-block;
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item-link {
    display: inline-block;
    padding: 10px 0;
    line-height: 26px;    
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.5rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item--has-qr:hover .header__qr {
    display: block;
}

.header__notify-item--has-notify:hover .header__notify {
    display: block;
}

.header__navbar-sign-in-separate {
    position: relative;
}

.header__navbar-sign-in-separate::before {
    position: absolute;
    display: block;
    content: "";
    width: 1px;
    height: 14px;
    background-color: #756f6e;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);

}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-item--strong {
    font-weight: 400;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #ad9999;
    height: 14px;
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}
/* header__qr code */
.header__qr {
    width: 186px;
    position: absolute;
    background-color: var(--white-color);
    left: 0;
    top: 120%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 1s;
}

.header__qr::before {
    position: absolute;
    display: block;
    content: "";
    left: 0;
    top: -12px;
    width: 100%;
    height: 15px;
}

.header__qr-img {
    width: 100%;
}

.header__qr-link:first-child {
    margin-left: 13px;
}

.header__qr-link:last-child {
    margin-right: 11px;
}

.header__qr-download-mg {
    height: 14px;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

/* header notìfycation */

.header__notify {
    position: absolute;
    top: 118%;
    right: 0;
    width: 410px;
    border: 1px solid #807b7b;
    background-color: var(--white-color);
    cursor: text;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotifyGrowth ease-in 0.2s;
    --webkit-animation: headerNotifyGrowth ease-in 0.2s;
    -ms-animation: headerNotifyGrowth ease-in 0.2s; /* trình duyệt của IE microsoft*/
    -o-animation: headerNotifyGrowth ease-in 0.2s;
    -moz-animation: headerNotifyGrowth ease-in 0.2s;
    will-change: transform, opacity; /*thuộc tính gì sẽ thauy đổi opacity*/
    display: none;
}

.header__notify::before {
    content: "";
    border: 20px solid;
    border-width: 20px 30px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 12px;
    top: -30px;
}

.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    width: 100px;
    right: 0;
    top: -20px;
    height: 40px;
    /* background-color: rebeccapurple; */
}

/* @keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
} */

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header h3 {
    color: #666;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    display: flex;
}

.header__notify-item--viewed:hover {
    background-color: rgba(223, 68, 37, 0.1);
}

.header__notify-link {
    display: flex;
    padding: 12px;
    text-decoration: none;
}

.header__notify-img {
    width: 48px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
}

.header__notify-description {
    display: block;
    font-size: 1.2rem;
    margin-top: 4px;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.4rem;
}

.header__notify-footer {
    display: flex;
    padding: 14px 16px;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    display: block;
    margin: auto;
    font-size: 1.4rem;
    font-weight: 400;
}


.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
}

.modal__inner {
    
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    background-color: var(--white-color);
    margin: auto; 
    position: relative;
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
}

.auth-form__container {
    padding: 0 32px;
    margin-top: 20px;
}

.auth-form__header {
    display: flex;
    justify-content: space-between;
}

.auth-form__heading {
    font-size:2.2rem;
    font-weight: 400;
    /* color: var(--white-color); */
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
}

/* auth-modal */

.clear {
    clear: both;
}

.auth-form {
    width: 500px;
    overflow: hidden;
}


.auth-form__input {
    width: 405px;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    outline: none;
    border: 1px solid var(--border-color);
}

.auth-form__input:focus {
    border-color: #888;
}


.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    color: var(--primary-color);
    text-decoration: none;
}

.btn.btn--disabled {
    filter: brightness(0.8);
    background-color: #ccc;
}

.btn.btn--primary {
    margin-left: 5px;
}

.auth-form__controls {
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls {
    padding-top: 80px;
}

.auth-form__social {
    display: flex;
    gap: 2%;
    align-items: center;
    margin-top: 5px;
    padding: 12px 32px;
    background-color: #d1c2c2;
    
}

.btn--with-icon {
    display: flex;
    
    width: 49%;
    padding: 2px 0;
    border-radius: 3px;
    background-color: #fff;
    align-items: center;
    font-size: 13px;
    gap: 40px;
}

.fa-square-facebook,
.fa-google {
    margin-left: 10px;
    font-size: 25px;
}

.btn--with-icon-left {
    background-color: #3a2fd7;
    color: #dbdbdb;
}

